.theme-selector-container {
  position: relative;
  .theme-selector-icon{
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: var(--global-color-accent);
  }
  .color-picker-container {
    position: absolute;
    top: 10;
    z-index: 7;
    right: -50%;
  }
}
