.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 9;
}
.theme-selector-container {
  position: absolute;
  right: -50px;
  
  .theme-selector-icon{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: var(--global-color-accent);
  }
  .color-picker-container {
    position: absolute;
    top: 10;
    z-index: 7;
    right: -50%;
  }
}
