:root {
  --global-color-primary: #fafafb;
  --global-color-accent: #fcc233;
  --global-color-secondary: #26273c;
  --global-colo-text: #7b7e99;
}
*{
  padding: 0;
  margin: 0;
  font-family: "kumbh sans", sans-serif;
}