.hero-section {
  height: calc(100vh - 64px);
  background-color: var(--global-color-primary) !important;
  display: flex;
  .hero-section-container {
    display: flex;
    height: 100%;
    .left-section {
      flex:1;
      display: flex;
      flex-direction: column;
      gap:14px;
      padding: 10px;
      padding-top: 10%;
      box-sizing: border-box;
      .hero-section-title {
        font-family: var(--global-font-caveat);
        font-size: var(--global-large-font-size);
        color:var(--global-color-accent);
        font-weight: var(--global-bold-font);
      }
      .hero-section-heading{
        font-family: var(--global-font-kumbh);
        font-size: var(--global-xxxl-font-size);
        color:var(--global-color-secondary);
        font-weight: var(--global-bold-font);
        line-height: var(--global-line-height);
      }
      .hero-section-description{
        margin-top: 10px;
        font-family: var(--global-font-kumbh);
        font-size: var(--global-regular-font-size);
        color:var(--global-color-text);
        font-weight: var(--global-regular-font);
        .highlight{
          font-weight: var(--global-semi-bold-font) !important;
        }
      }
    }
    .right-section {
      flex: 1;
      padding: 10px;
      padding-top: 50px;
      box-sizing: border-box;
    }
  }
}
