.app-bar-wrapper {
  background-color: var(--global-color-primary) !important;
  .container {
    .tool-bar {
      background-color: var(--global-color-primary) !important;
      color: var(--global-color-secondary) !important;
      display: flex;
      justify-content: space-between;
    }
  }
}

.app-name-title {
  margin-right: 2rem;
  font-size: var(--global-large-font-size) !important;
  line-height: 28.9px !important;
  font-weight: 600 !important;
  text-decoration: none;
  color:var(--global-color-secondary) !important;
  margin-left: 5px;
  align-items: center;
}

.logo-wrapper{
  display: flex;
  flex: 1;
}
#action-link{
  margin-top: 12px;
  font-size: 14px !important;
  font-weight: 500 !important;
  height: 24px;
  text-decoration: none;
  text-transform: capitalize !important;
  color:var(--global-color-secondary) !important;
}